<h1 class="titleBlock">Chose {{currentChoice}}</h1>
<!-- <h4 *ngFor="let choose of chosen">{{choose}}</h4> -->

<div>
  <div *ngIf="place==0">
    <md-grid-list cols="4" rowHeight="50px">
      <md-grid-tile
          *ngFor="let choice of tripService.mappedEvents"
          [colspan]="1"
          [rowspan]="1"
          (click)="toggleColor(choice); addToChosen(choice);"
      >
      <button class="navigate" [ngClass]="{'selected': choice.selected}" md-raised-button >{{choice.event}}</button> 
      </md-grid-tile>
    </md-grid-list>
  </div>

  <div *ngIf="place==1">
    <md-grid-list cols="4" rowHeight="50px">
      <md-grid-tile
          *ngFor="let choice of tripService.mappedFoods"
          [colspan]="1"
          [rowspan]="1"
          (click)="toggleColor(choice); addToChosen(choice);"
      >
      <button class="navigate" [ngClass]="{'selected': choice.selected}" md-raised-button >{{choice.food}}</button> 
      </md-grid-tile>
    </md-grid-list>
  </div>

  <div *ngIf="place==2">
     <md-grid-list cols="4" rowHeight="50px">
      <md-grid-tile
          *ngFor="let choice of tripService.mappedMoves"
          [colspan]="1"
          [rowspan]="1"
          (click)="toggleColor(choice); addToChosen(choice);"
      >
      <button class="navigate" [ngClass]="{'selected': choice.selected}" md-raised-button >{{choice.transportation}}</button> 
      </md-grid-tile>
    </md-grid-list>   
  </div>
      <button class="navigate" md-raised-button color="primary" (click)="nextStep()">Next</button>

</div>
<div>x
 <app-toolbar></app-toolbar> 
</div>