<h1 class="titleBlock">Chose {{currentChoice}}</h1>
<!-- <h4 *ngFor="let choose of chosen">{{choose}}</h4> -->

<div>
  <!-- <h1 *ngIf="place==1">IF Works</h1> -->

  <div *ngIf="place==0">
 <md-grid-list cols="4" rowHeight="50px">
         <!-- <h4 *ngFor="let choose of chosen">{{choose}}</h4> -->

  <md-grid-tile
    class="tiles"
      *ngFor="let choice of tripService.events"
      [colspan]="1"
      [rowspan]="1"
      (click)="toggleColor(choice); addToChosen(choice);"
      >
        <!-- <button  [ngStyle]="{'background-color': selected}"class="navigate {{selected}}" md-raised-button >{{choice}}</button>  -->
        <button  [ngStyle]="{'background-color': selected}"class="navigate {{selected}}" md-raised-button >{{choice}}</button> 
        <!-- <button  [ngStyle]="{'background-color': selected}"class="navigate {{selected}}" md-raised-button (click)="printName(choice); addToChosen(choice);">{{choice}}</button>  -->
  </md-grid-tile>
</md-grid-list>
  </div>

  <div *ngIf="place==1">
    <md-grid-list cols="4" rowHeight="50px">
  <md-grid-tile
    class="tiles"
      *ngFor="let choice of tripService.foods"
      [colspan]="1"
      [rowspan]="1"
      >
       <button  class="navigate" md-raised-button (click)="printName(choice); addToChosen(choice);" >{{choice}}</button>
  </md-grid-tile>
</md-grid-list>
  </div>

  <div *ngIf="place==2">
 <md-grid-list cols="4" rowHeight="50px">
  <md-grid-tile
    class="tiles"
      *ngFor="let choice of tripService.moves"
      [colspan]="1"
      [rowspan]="1"
      >
       <button  class="navigate" md-raised-button (click)="printName(choice); addToChosen(choice);" >{{choice}}</button>
  </md-grid-tile>
</md-grid-list>
    
  </div>
      <button class="navigate" md-raised-button color="primary" (click)="nextStep()">Next</button>

</div>
<div>x
 <app-toolbar></app-toolbar> 
</div>