<!--Back Button, UserNames' Profile-->

<!--Multiselect dropdown of View Choices-->
<!--Multiselect dropdown of Food Choices-->
<!--Multiselect dropdown of Move Choices-->

<!--Toolbar with profile, current, mytrips, likes-->
<div class="category">
  <h1>Profile</h1>


  <ng2-dropdown class="category">
      <ng2-dropdown-button class="category">
          Views
      </ng2-dropdown-button>
      <ng2-dropdown-menu>
          <ng2-menu-item [preventClose]='true' *ngFor="let view of views">
              {{ view }}
          </ng2-menu-item>
          <div class='ng2-menu-divider'></div>
      </ng2-dropdown-menu>
  </ng2-dropdown>
    
    <ng2-dropdown class="category">
      <ng2-dropdown-button class="category">
          Foods
      </ng2-dropdown-button>
      <ng2-dropdown-menu>
          <ng2-menu-item [preventClose]='true' *ngFor="let food of foods">
              {{ food }}
          </ng2-menu-item>
          <div class='ng2-menu-divider'></div>
      </ng2-dropdown-menu>
  </ng2-dropdown>
    
    <ng2-dropdown class="category">
      <ng2-dropdown-button class="category">
          Moves 
      </ng2-dropdown-button>
      <ng2-dropdown-menu>
          <ng2-menu-item [preventClose]='true' *ngFor="let move of moves">
              {{ move }}
          </ng2-menu-item>
          <div class='ng2-menu-divider'></div>
      </ng2-dropdown-menu>
  </ng2-dropdown>
<div>
  <md-slider min="1" max="5" step="0.5" value="1.5"></md-slider>
</div>
  <button  class="navigate" md-raised-button routerLink="/dashboard" >Go!</button>

</div>
<app-toolbar></app-toolbar>