.tiles{
    text-align: center;
    background-color: orange;
}
.category{
  text-align: center;
  margin-left: 20%;
  width: 60%;
  margin-bottom: 4px;
}
#welcome{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
}
.navigate{
    background-color:orange;
    color: maroon;
    position: center;
    justify-content: center;
    width:150px;
    text-align:center;
    font-size: 20px;
    font-family:  Impact, Haettenschweiler, ‘Arial Narrow Bold’, sans-serif;
    padding-bottom: 1.5em;
    margin: auto;
    min-width: 150%
}
.options{
    background-color: orange;
    color: white;
    font-size: 20px;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 60%;
    text-align:center;    
    padding-bottom: 2em;
    margin-bottom: 8px;
}
.jcs {
    position: relative;
    border-style: solid;
    border-radius: 100%;   
    border-color: hotpink;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    border-width: 5px;
    cursor: pointer;
}

.jcs-value {
    position: absolute;
    border-style: none;
    border-radius: 100%;
	border: 2px solid rgb(236, 248, 212);
	text-align : center;
	pointer-events: none;
	line-height: 4em;
	color: white;
	background-color: yellowgreen;
	outline: none;
}

.jcs-indicator {
    
    position: absolute;
    border-radius: 100%;
    background-color: deeppink;
	border: 1px solid rgb(177, 177, 177);
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    pointer-events : none;
}
.jcs-panel {
    position: relative;
    display: inline-block;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
}


.jcs-value img {
    border-radius: 100%;
    background: transparent;
	width: inherit;
	height: inherit;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}