<div class="category">
    <h1>Profile</h1>
    <div  *ngIf="counter === 0">
        <md-grid-list cols="4" rowHeight="50px">
            <md-grid-tile
                class="tiles"
                *ngFor="let event of events"
                [colspan]="1"
                [rowspan]="1"
            >
            <button class="navigate" md-raised-button (click)="addEvent(event)" >{{event.replace('_', ' ')}}</button>
            </md-grid-tile>
        </md-grid-list>
        <button md-raised-button (click)="next()" >Next</button>
    </div>
    <div *ngIf="counter === 1">
        <md-grid-list cols="4" rowHeight="50px">
            <md-grid-tile 
                class="tiles"
                *ngFor="let food of foods" 
                [colspan]="1" 
                [rowspan]="1"
            >
            <button class="navigate" md-raised-button (click)="addFood(food)">{{food}}</button>
            </md-grid-tile>
        </md-grid-list>
        <button md-raised-button (click)="next()" >Next</button>
    </div>
    <div *ngIf="counter === 2">
        <md-grid-list cols="4" rowHeight="50px">
            <md-grid-tile 
                class="tiles" 
                *ngFor="let move of moves" 
                [colspan]="1" 
                [rowspan]="1">
            <button class="navigate" md-raised-button (click)="addTransportation(move)">{{move}}</button>
            </md-grid-tile>
        </md-grid-list>
        <button md-raised-button (click)="next()" >Next</button>    
    </div>
</div>

<app-toolbar></app-toolbar>

