.bottom-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    // border: 3px solid #73AD21;
}
.bottom-bar-top{
    position: fixed;
    bottom: 12%;
    width: 100%;
    border: 3px solid palevioletred;
}
.menu{
    background-color: lightblue;
    color: maroon;
    position: center;
    justify-content: center;
    width:25%;
    text-align:center;
    font-size: 20px;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 1.5em;
    margin: auto;
    // margin-bottom: 8px;
}
body{
    background-color:yellow;
}
$colors: (
    primary:   #E2EE8B,
    secondary:  #DBF336,
    danger:     #0BEE6E,
    light:      #04B483,
    dark:       #0073A0,
//mystery moments
    mys1: #67D0C1,
    mys2: #B2B797,
    mys3: #FD9728,
    mys4: #DB4F04,
    mys5: #092940,
    mys6: #67D0C1,
    mys7: #B2B797,
  );