.stops{
  margin-left: 20%;
  width: 60%;
  color: orange;
}
.example-card {
  width: 400px;
  background: white;
  color:black;
  // margin:auto;
}

.example-header-image {
  // background-image: url('../../../assets/img/examples/shiba1.jpg');
  background-size: cover;
}