/* You can add global styles to this file, and also import other style files */
// @import '~https://fonts.googleapis.com/icon?family=Material+Icons';
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

body{
  background-color: #B2B797;
}
.md-button-toggle-checked .md-button-toggle-label-content{ background-color:#FD9728 !important; }

// $colors: (
//   primary:   teal,
//   secondary:  #32db64,
//   danger:     #f53d3d,
//   light:      #f4f4f4,
//   dark:       #222
// );

$colors: (
  primary:   #E2EE8B,
  secondary:  #DBF336,
  danger:     #0BEE6E,
  light:      #04B483,
  dark:       #0073A0
);