<!--WelcomeTitleBlock-->
<h1> Welcome{{this.signupService.currentUser}}</h1>
<!--Display current chosen amount from scroll bar-->
<h1 class="currentAmount">{{currentAmount}}</h1>
<!--Choice wheel or slider, start with buttons-->
<!--Create view, food, and move buttons-->
<button type="button" primary class="btn btn-danger" style="width:30%">View</button>
<button type="button" primary class="btn btn-danger" style="width:30%">Food</button>
<button type="button" primary class="btn btn-danger" style="width:30%">Move</button>

<!--Choose and go buttons-->
<button type="button" primary class="btn btn-success" style="width:40%" routerLink="/choices" >Choices</button>
<button type="button" primary class="btn btn-success" style="width:40%" routerLink="/mytrips" >Go!</button>


<!--Toolbar with profile, current, mytrips, likes-->




