<!--WelcomeTitleBlock-->
<h1 id="welcome"> Welcome{{user}}</h1>
<!--Display current chosen amount from scroll bar-->
<h1 class="currentAmount">{{currentAmount}}</h1>
<!--Choice wheel or slider, start with buttons-->
<!--Create view, food, and move buttons-->
<div style="text-align:center">
<div ></div>
<button  class="options" md-raised-button>View</button>
<div ></div>
<button  class="options" md-raised-button>Food</button>
<div ></div>
<button  class="options" md-raised-button>Move</button>

<!--Choose and go buttons-->
<div ></div>
<button  class="navigate" md-raised-button routerLink="/choices" >Choices</button>
<button  class="navigate" md-raised-button routerLink="/mytrips" >Go!</button>
</div>

<!--Toolbar with profile, current, mytrips, likes-->




