<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    TestingZone {{title}}!
  </h1>
</div>git 
 <ul>
  <li>
      <button class="menuItems" (click)="geoTest()">GEO!?</button>
  </li>
  <li>
      <button class="menuItems"(click)="goToDashboard2()">Dashboard</button>
  </li> 
  <li>
      <button class="menuItems" (click)="seedTest2()">SeedDB</button>
  </li>  
  <li>
      <button class="menuItems" (click)="signUpTest2()">SignUpTest</button>
  </li>
</ul> 
 <a routerLink="/dashboard">Dashboard</a> 

<router-outlet></router-outlet>


