<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    TestingZone {{title}}!
  </h1>
</div>
      <button md-raised-button color="primary" class="menuItems" (click)="geoTest()">GEO!?</button>
      <button md-raised-button class="menuItems"(click)="goToDashboard2()">Dashboard</button> 
      <button md-raised-button class="menuItems" (click)="seedTest2()">SeedDB</button>  
      <button md-raised-button class="menuItems" (click)="signUpTest2()">SignUpTest</button>
 <a routerLink="/dashboard">Dashboard</a> 

<router-outlet></router-outlet>


